.Country {
  padding: 20px;

  .Info-box {
    height: 200px;

    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
    column-gap: 10px;
  }

  .Details {
    // Remove border from last detail item
    tr:last-child {
      th, td {
        border: 0;
      }
    }

    th {
      width: 35%;
    }
  }

  .WikiEntry {
    p {
      text-align: justify;
    }
  }
}