.Photos {
  width: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 0 10px;
  
  img {
    width: 100%;
  }
}

