.Globe {
  display: block;
  margin: 0 auto;

  .country {
    fill: #019601;
    stroke: none;
    transition: fill 0.5s;

    &:hover {
      fill: #09d809;;
    }
  }
  
  .interiors {
    stroke: var(--gray-10);
    stroke-width: 0.25px;
    fill: none;
  }

  .circle {
    fill: #008dff;
  }
}
