.Globe {
  display: block;
  margin: 0 auto;

  .country {
    fill: #e6842a;
    stroke: none;
    transition: fill 0.5s;

    &:hover {
      fill: #f6b656;
    }
  }
  
  .interiors {
    stroke: var(--gray-10);
    stroke-width: 0.25px;
    fill: none;
  }

  .circle {
    fill: var(--gray-15);
  }
}
