:root {
  --white: #fff;
  --black: #000;

  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

.Layout {
  display: grid;
  grid-template-columns: 800px 1fr;
}

.Sidebar {
  color: var(--gray-40);
  background-color: var(--gray-15);
  padding: 20px;
  
  ul {
    list-style: none;
  }
}