:root {
  --white: #fff;
  --black: #000;

  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  color: var(--gray-40);
}

.Layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-column {
  overflow-y: scroll;
  overflow-x: hidden;
}

